@using System.Web.UI.WebControls

@{
    ViewBag.Title = "Index";
}

@*<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>*@

<h2>LED IS OFF ! </h2>

<a class="btn btn-danger" href="@Url.Action("TurnOnLed")">Turn On</a>
<br/>
<br/>
